<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
<div class="col-sm-3 sidenav">
    <div class="sidelogo">
        <img src="./../../../assets/images/NEW.png" routerLink="/" height="100px" width="210px">
    </div>
    <br>
    <p>Document Management</p>
    <hr>
    <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="/home"><img src="./../../../assets/images/newuser.png">New Document</a></li>
        <li><a routerLink="/customeru"><img src="./../../../assets/images/update.png">View Document</a></li>
        <li><a routerLink="/updateDoc">Update Document</a></li>
        <li><a routerLink="/booking"><img src="./../../../assets/images/email.png">Email Document</a></li>
        <li><a routerLink="/customerdelete"><img src="./../../../assets/images/delete.png">Delete Document</a></li>
        <li><a routerLink="/gallery">Document Gallery</a></li>
        <li><a routerLink="/prof">User Profile</a></li>
    </ul>
    <br>
</div>
</body>